Source: ros-kinetic-roch-follower
Section: misc
Priority: extra
Maintainer: Carl <wzhang@softrobetch.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-depth-image-proc, ros-kinetic-dynamic-reconfigure, ros-kinetic-nodelet, ros-kinetic-roch-msgs, ros-kinetic-roscpp, ros-kinetic-visualization-msgs
Homepage: http://ros.org/wiki/roch_follower
Standards-Version: 3.9.2

Package: ros-kinetic-roch-follower
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-depth-image-proc, ros-kinetic-dynamic-reconfigure, ros-kinetic-nodelet, ros-kinetic-roch-bringup, ros-kinetic-roch-msgs, ros-kinetic-roch-teleop, ros-kinetic-roscpp, ros-kinetic-topic-tools, ros-kinetic-visualization-msgs
Description: Follower for the roch.
 Follows humans and robots around by following the centroid of a box points in front of the roch.
